<footer class="footer">
	<div class="container-fluid">
		<ul class="list-inline">
			<li><a href="https://github.com/sillitoe/sge-monitor">GitHub</a></li>
			<li><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">sge-monitor</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/sillitoe/sge-monitor" property="cc:attributionName" rel="cc:attributionURL">Ian Sillitoe</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
			</li>	
		</ul>
	</div>
</footer>
